<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  th:fragment="body">
<div class="fh5co-intro text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h1>Edit blog record</h1>

                <form action="#" th:action="@{'/blog/record/'+${recordId}+'/edit'}" th:object="${blogRecordDto}" method="post">
                    <div th:if="${#fields.hasGlobalErrors()}" class="has-error">
                        <p class="help-block" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                    </div>
                    <fieldset>
                        <p><label>Title*&nbsp</label><input type="text" size="100" maxlength="200" th:field="*{title}" name="title" id="title" required/></p>
                        <p><label>Content*</label><textarea rows="20" cols="100" maxlength="65000" th:field="*{content}" name="content" id="content"
                                                          required></textarea></p>
                    </fieldset>
                    <p><input type="submit" name="submit" id="submit"/>
                        <button onclick="goBackWithRefresh();return false;" style="margin-left: 1%;">Cancel</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>