<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="body">

<div class="col-md-offset-3 fh5co-service">
    <a href="#" class="text-left fh5co-icon-big" onclick="goBackWithRefresh();return false;">
        <i class="icon-arrow-long-left"></i></a>
    <a th:if="${isRecordOfCurrentUser}"
       th:href="'/blog/record/'+${record.id}+'/edit'" class="btn btn-primary" style="margin-left: 50%;" href="#">
        Edit record
    </a>
</div>

<div class="fh5co-intro text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="intro-lead" th:text="${record.title}">Record Title</h1>
                <p>by <a th:href="'/user/'+${record.userId}" href="#"
                         th:text="${record.authorNickname}">nickname</a>
                    <span th:text="', '+${record.creationDate}">, 2020-10-23</span></p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-11">
                        <p class="animate-box" th:utext="${record.content}">Far far away, behind the word mountains, far
                            from the countries Vokalia and Consonantia, there live the blind texts. Separated they live
                            in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river
                            named Duden flows by their place and supplies it with the necessary regelialia. It is a
                            paradisematic country, in which roasted parts of sentences fly into your mouth. Even the
                            all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                            life One day however a small line of blind text by the name of Lorem Ipsum decided to leave
                            for the far World of Grammar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>