<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="body">
<div class="col-md-8 col-md-offset-2">
    <h2 class="section-lead text-center">Friend's blog records</h2>
    <p class="text-center" th:if="${records.size() == 0}">There are no blog records yet.</p>
</div>
<div id="fh5co-portfolio" class="col-md-8 col-md-offset-2">

    <div class="fh5co-portfolio-description" th:each="record : ${records}">
        <h2><a th:href="'/blog/record/'+${record.id}" href="#" th:text="${record.title}">Title</a></h2>
        <p>by <a th:href="'/user/'+${record.userId}" href="#"
              th:text="${record.authorNickname}">nickname</a>
            <span th:text="', '+${record.creationDate}">, 2020-10-23</span></p>
        <p th:text="${record.content}+'...'">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live the blind
            texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A
            small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>

</div>

</body>
</html>