<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="body">
<div id="fh5co-team">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-lead text-center">Friendship requests</h2>
                <p class="text-center" th:if="${requests.size() == 0}">You have no incoming friendship reuqests currently.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate" th:each="request : ${requests}"
                 th:id="'friendship-request-'+${request.friendshipInfo.id}">
                <a th:href="'/user/'+${request.initiatorInfo.id}" href="#">
                    <figure>
                        <img src="/images/user_2.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
                    </figure>
                    <h3 th:text="'Friendship request from ' + ${request.initiatorInfo.name} +' '+${request.initiatorInfo.surname}">Name "Nickname"
                        Surname</h3>
                </a>
                <ul class="fh5co-list-check">
                    <li th:text="'Location: ' + ${request.initiatorInfo.city}">Location: Moscow</li>
                    <li th:text="'Birthdate: ' + ${request.initiatorInfo.birthdate}">Birthdate: 1987-04-06</li>
                </ul>
                <button th:id="'request-accept-button-'+${request.friendshipInfo.id}"
                                th:attr="onclick=|acceptFrienndshipRequest(${request.friendshipInfo.id});|">Accept</button>
                <button th:id="'request-decline-button-'+${request.friendshipInfo.id}"
                                th:attr="onclick=|declineFrienndshipRequest(${request.friendshipInfo.id});|">Decline</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>