<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body th:fragment="body">

<div id="fh5co-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 animate-box" th:object="${user}">
                        <figure>
                            <img src="/images/user_2.jpg" th:attr="alt=|*{name} '*{nickname}' *{surname}|"
                                 alt="Name 'Nickname' Surname" class="img-responsive">
                        </figure>
                        <h3 th:text="|*{name} '*{nickname}' *{surname}|">Name "Nickname" Surname</h3>
                        <ul class="fh5co-list-check">
                            <li>Birthdate: <span th:text="*{birthdate}"></span></li>
                            <li>Gender: <span th:text="*{sex}"></span></li>
                            <li>Interests: <span th:text="*{interests}"></span></li>
                            <li>Location: <span th:text="*{city}"></span></li>
                        </ul>
                        <p th:if="${isFriend}" th:text="|*{nickname} is your friend!|"></p>
                        <p th:if="${isFriendshipRequestSent}" id="friendshipRequestResult">Friendship request has been
                            sent</p>
                        <input th:if="${isCurrentUser}" type="button" onclick="location.href='/user/profile/edit';"
                               value="Edit profile"/>
                        <form th:if="${!(isCurrentUser or isFriendshipRequestSent or isFriend)}"
                              action="#" id="friendshipRequestForm">
                            <input type="hidden" id="possibleFriendId" th:field="*{id}"/>
                            <button type="submit" id="btnFriendshipRequestForm">
                                Send friendship request
                            </button>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <h2 class="section-lead text-center">Blog</h2>
                        <div class="text-center">
                        <a th:if="${isCurrentUser}" class="btn btn-primary" href="/blog/record/create">Create new record</a>
                        </div>
                        <p class="text-center" th:if="${blogRecords.size() == 0}">There are no blog records yet.</p>
                        <div class="fh5co-portfolio-description animate-box" th:each="record : ${blogRecords}">
                            <h2><a th:href="'/blog/record/'+${record.id}" href="#" th:text="${record.title}">Title</a>
                            </h2>
                            <p>by <a th:href="'/user/'+${record.userId}" href="#"
                                     th:text="${record.authorNickname}">nickname</a>
                                <span th:text="', '+${record.creationDate}">, 2020-10-23</span></p>
                            <p th:text="${record.content}+'...'">Far far away, behind the word mountains, far from the
                                countries Vokalia and
                                Consonantia, there live the blind
                                texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                                large language ocean. A
                                small river named Duden flows by their place and supplies it with the necessary
                                regelialia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>