<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SND - Edit profile</title>
</head>
<body th:fragment="body">
<div class="fh5co-intro text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h1>Edit profile</h1>


                <form action="#" th:action="@{/user/profile/edit}" th:object="${userUpdateDto}" method="post">
                    <div th:if="${#fields.hasGlobalErrors()}" class="has-error">
                        <p class="help-block" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                    </div>
                    <fieldset>
                        <legend>Personal Information</legend>
                        <p><label for="email">Email*</label><input type="text" th:field="*{email}" name="email" id="email" required></p>
                        <p><label for="nickname">Nickname*</label><input type="text" th:field="*{nickname}" name="nickname" id="nickname" required></p>
                        <p><label for="name">Name*</label><input type="text" th:field="*{name}" name="name" id="name" required></p>
                        <p><label for="surname" >Surname*</label><input type="text" th:field="*{surname}" name="surname" id="surname" required></p>
                        <p><label for="birthdate">Birthdate</label><input type="date" th:field="*{birthdate}" name="birthdate" id="birthdate"></p>
                        <p><label>Gender*&nbsp;</label>
                            <input type="radio" name="sex" id="sexMale" th:field="*{sex}" value="MALE" required> <label
                                    for="sexMale">Male</label>
                            <input type="radio" name="sex" id="sexFemale" th:field="*{sex}" value="FEMALE" required>
                            <label
                                    for="sexFemale">Female</label>

                        </p>
                        <p><label for="interests">Interests </label><input type="text" th:field="*{interests}" name="interests"
                                                        id="interests">
                        </p>
                        <p><label for="city">Location </label><input type="text" th:field="*{city}" name="city" id="city">
                        </p>
                    </fieldset>
                    <p><input type="submit" name="submit" id="submit">
                        <button onclick="goBackWithRefresh();return false;" style="margin-left: 1%;">Cancel</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>