<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="view">
    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate" th:each="user : ${users}">
        <a th:href="'/user/'+${user.id}" href="#">
            <figure>
                <img src="/images/user_2.jpg" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive">
            </figure>
            <h3 th:text="${user.name} +' '+${user.surname}">Name "Nickname"
                Surname</h3>
        </a>
        <ul class="fh5co-list-check">
            <li th:text="'Location: ' + ${user.city}">Location: Moscow</li>
            <li th:text="'Birthdate: ' + ${user.birthdate}">Birthdate: 1987-04-06</li>
        </ul>
    </div>
</div>
</body>
</html>